/* Global */

body {
  background-color: black;
}

div {
  border: 1px solid lightGray;
}

a {
  text-decoration: underline;
  color: white;
}

.flex-cont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Header */

header {
  position: fixed;
  width: 100%;
  height: 69px;
  z-index: 1;
  border-bottom: 1px solid seashell;
  align-items: center;
}

header img {
  height: 50px;
  padding-left: 10px;
}

nav {
  text-align: right;
  flex-grow: 1;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

/* Main Content */

.main-content {
  padding-top: 69px;
}

  /* Our Mission */

  /* Tea of the Month */

  /* Locations */

  /* Contact */

/* Footer */
